.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    transition: 0.2s all;
    position: relative;
    font-size: $default-font-size;
  }

  &--animated {
    animation: moveInBottom 0.5s backwards ease-out 1s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem var rgba($black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    transition: 0.4s all;
  }

  &--white {
    background-color: $white;
    color: $gray;

    &::after {
      background: $white;
    }
  }

  &--green {
    background-color: $green;
    color: $white;

    &::after {
      background: $green;
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $green;
    display: inline-block;
    text-decoration: none;
    font-size: $default-font-size;
    font-weight: 700;
    border-bottom: 1px solid $green;
    transition: all 0.2s;
    padding: .3rem;
  }

  &:hover {
    background-color: $green;
    color: $white;
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem var rgba($black, 0.2);
  }
}
