.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  position: relative;

  &__side {
    height: 50rem;
    transition: all 0.6s ease-out;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);

    &--front {
      background-color: $white;
    }
    &--back {
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(
          to bottom right,
          $secondary-light,
          $secondary
        );
      }

      &--2 {
        background-image: linear-gradient(
          to bottom right,
          $light-green,
          $green
        );
      }

      &--3 {
        background-image: linear-gradient(
          to bottom right,
          $tertiary-light,
          $tertiary
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
