.composition {
  position: relative;
  &__photo {
    max-width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.4);
    border-radius: 0.5rem;
    position: absolute;
    transition: all 0.2s;

    &--p1 {
      left: 0;
      top: -2rem;
      z-index: 3;
    }

    &--p2 {
      right: 0;
      top: 5rem;
      z-index: 2;
    }

    &--p3 {
      left: 20%;
      top: 11rem;
      z-index: 1;
    }

    &:hover {
      transform: scale(1.1) translateY(-0.5rem);
      outline: 1rem solid $green;
      outline-offset: 2rem;
      box-shadow: 0 2.5rem 4rem rgba($black, 0.5);
      z-index: 10;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
