html {
  /* Using percentages to allow user settings of accecibility, 62.5% = 10px if the user didn't change the default font size */
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}
