html {
  /* Using percentages to allow user settings of accecibility, 62.5% = 10px if the user didn't change the default font size */
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0rem;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem rgba($black, 0.1);
  border-radius: 1rem;
  background-color: $white;
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: $white;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.6rem rgba($black, 0.1);
  background-color: $light-gray-2;
}
