body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $gray;
  padding: 3rem;
  box-sizing: border-box;
}

.heading-primary {
  color: $white;
  text-transform: uppercase;
  margin-top: -20vh;
  pointer-events: none;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: 0.5s moveInLeft ease-out;
    margin-right: calc(-3.5rem / 2);
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    opacity: 0;

    animation: moveInRight 0.5s forwards ease-out 0.5s;
  }
}
