.section-about {
  background-color: $light-gray;
  padding: 25vh 6rem;
  margin-top: -20vh;
}

.section-features {
  margin-top: -20vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($light-green, 0.8),
      rgba($green, 0.8)
    ),
    url("../img/nat-4.jpg");
  height: 95vh;
  -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 75vh, 0% 100%);
  clip-path: polygon(0 20vh, 100% 0, 100% 75vh, 0% 100%);
  padding: 20vh 6rem;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
}

.section-tours {
  background-color: $light-gray;
  padding: 25vh 6rem 10vh 6rem;
  margin-top: -20vh;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
  overflow: hidden;
}

.section-booking {
  padding: 15rem 6rem;
  background-image: linear-gradient(to right bottom, $light-green, $dark-green);
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($white, 0.9) 0%,
      rgba($white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.15);

  &__from{
    width: 50%;
    padding: 6rem;
  }
  height: 50rem;
}
